# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Database
*.db

# Environment variables
.env

# IDE
.vscode/
.idea/

# Docker (optional, if not used yet)
pgdata/

# OS
.DS_Store
Thumbs.db